In [1]:
#https://archive.ics.uci.edu/ml/machine-learning-databases/00246/
#Khai báo dữ liệu cần dùng
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor

In [4]:
#Đọc dữ liệu
df = pd.read_csv("spatial.txt")
df.shape

(434873, 4)

In [5]:
#Khám phá tập dữ liệu
df.head()

   144552912  9.3498486  56.7408757  17.0527715677876
0  144552912   9.350188   56.740679         17.614840
1  144552912   9.350549   56.740544         18.083536
2  144552912   9.350806   56.740485         18.279465
3  144552912   9.351053   56.740486         18.422974
4  144552912   9.351475   56.740502         19.124889

In [14]:
#Đổi tên các cột trong DataFrame theo thứ tự
df.columns = ['a','s','d','f']

In [15]:
#Khám phá tập dữ liệu
df.columns

Index(['a', 's', 'd', 'f'], dtype='object')

In [16]:
features = ['a','s','d','f']

In [17]:
data=df[features]
data.head()

           a         s          d          f
0  144552912  9.350188  56.740679  17.614840
1  144552912  9.350549  56.740544  18.083536
2  144552912  9.350806  56.740485  18.279465
3  144552912  9.351053  56.740486  18.422974
4  144552912  9.351475  56.740502  19.124889

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434873 entries, 0 to 434872
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   a       434873 non-null  int64
 1   s       434873 non-null  float64
 2   d       434873 non-null  float64
 3   f       434873 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 13.3 MB

In [19]:
#Chọn tập huấn luyện và kiểm tra
X=data.iloc[:,:-1]
X

                a         s          d
0       144552912  9.350188  56.740679
1       144552912  9.350549  56.740544
2       144552912  9.350806  56.740485
3       144552912  9.351053  56.740486
4       144552912  9.351475  56.740502
...           ...       ...        ...
434868   93323205  9.936479  57.499686
434869   93323205  9.935696  57.499426
434870   93323205  9.935009  57.499282
434871   93323209  9.943479  57.495919
434872   93323209  9.943451  57.496270

[434873 rows x 3 columns]

In [20]:
#Chọn tập kiểm tra
y=data.iloc[:,-1]
y

0         17.614840
1         18.083536
2         18.279465
3         18.422974
4         19.124889
            ...
434868    20.134033
434869    20.580884
434870    19.733141
434871    24.027015
434872    24.635285
Name: f, Length: 434873, dtype: float64

In [21]:
# Chia dữ liệu thành tập huấn luyện và tập kiểm tra
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((304411, 3), (130462, 3), (304411,), (130462,))

In [22]:
#Tạo và điều chỉnh mô hình hồi quy
knn_Reg=KNeighborsRegressor(n_neighbors = 3)
knn_Reg.fit(X_train, y_train)
#Đưa ra dự đoán
y_predicted = knn_Reg.predict(X_test)
print(pd.DataFrame({"y_predicted": y_predicted, "y_test":y_test}))

        y_predicted     y_test
135817    55.481003  55.885364
208716     7.301944   4.277510
93822      3.970312   3.173507
244125    29.519881  29.734657
85268     38.419195  36.217164
...             ...        ...
343118     7.335496   8.637897
427665     8.072962   7.859548
424516     2.728664   2.733222
382929    25.012444  24.692665
154990    49.327467  48.275496

[130462 rows x 2 columns]

In [25]:
#linear model
#Khai phá thư viện cần dùng
from sklearn.linear_model import LinearRegression

In [24]:
#Tạo và điều chỉnh mô hình hồi quy tuyến tính
Linear_Reg = LinearRegression()
Linear_Reg.fit(X_train, y_train)
#Đưa ra dự đoán
y_predicted = Linear_Reg.predict(X_test)
print(pd.DataFrame({"y_predicted": y_predicted, "y_test":y_test}))

        y_predicted     y_test
135817    24.944395  55.885364
208716    18.156897   4.277510
93822     22.159036   3.173507
244125    18.734175  29.734657
85268     20.420064  36.217164
...             ...        ...
343118    19.440477   8.637897
427665    14.528062   7.859548
424516    27.846413   2.733222
382929    19.202894  24.692665
154990    27.084150  48.275496

[130462 rows x 2 columns]

In [26]:

w= Linear_Reg.coef_
w

array([ 4.99827845e-08,  4.49824068e+00, -1.20120421e+01])

In [27]:
#Sử dụng để chặn hồi quy tuyến tính
w0= Linear_Reg.intercept_
w0

659.2497690664859

In [29]:
#Đánh giá lỗi
def MAE(y, yhat):
    return np.sum(np.abs(y-yhat))/len(y)
MAE(y_test, y_predicted)

14.352325251908637